<header id="header" class="header header-hide" *ngIf="loginState != undefined">
    <div class="container">
        <div class="row">
            <div id="logo" class="pull-left">
                <!-- <h1> -->
                <a [routerLink]="['/home']" class="scrollto">
                    <img src="/assets/img/logo.png" alt="logo" class="img-fluid" />
                </a>
                <!-- </h1> -->


                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a [routerLink]="['about']">About</a></li>
                        <li><a [routerLink]="['contact']">Contact</a></li>
                        <!-- <li><a [routerLink]="['login']" *ngIf="loginState == undefined">Login</a></li> -->
                        <li><a [routerLink]="['login']" *ngIf="loginState != undefined" (click)="logout()">Logout</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>