<section id="get-started" class="padd-section wow fadeInUp">

    <div class="container">
      <div class="section-title-2">
          <h3 class="resultSearch">10 : result </h3>
          
      </div>
    </div>
    <!-- <div class="sectionLine"></div> -->
    <div class="container text-center">
      <div class="row">

        <div class="col-4 ">
          <div class="feature-block features">

            <div class="col-12 vendor">
              <img src="img/svg/asteroid.svg" alt="img" class="img-fluid">
            </div>
            
            <h4>ABC Company Pvt. Ltd.</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <a href="company-detail.html">read more</a>

          </div>
        </div>

        <div class="col-4">
          <div class="feature-block features">

            <div class="col-12 vendor">
              <img src="img/svg/asteroid.svg" alt="img" class="img-fluid">
            </div>
            
            <h4>ABC Company Pvt. Ltd.</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <a href="company-detail.html">read more</a>

          </div>
        </div>

        <div class="col-4">
          <div class="feature-block features">

            <div class="col-12 vendor">
              <img src="img/svg/asteroid.svg" alt="img" class="img-fluid">
            </div>
            
            <h4>ABC Company Pvt. Ltd.</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            <a href="company-detail.html">read more</a>

          </div>
        </div>
        <div class="col-4">
            <div class="feature-block features">
  
              <div class="col-12 vendor">
                <img src="img/svg/asteroid.svg" alt="img" class="img-fluid">
              </div>
              
              <h4>ABC Company Pvt. Ltd.</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              <a href="company-detail.html">read more</a>
  
            </div>
          </div>
  
          <div class="col-4">
            <div class="feature-block features">
              <div class="col-12 vendor">
                <img src="img/svg/asteroid.svg" alt="img" class="img-fluid">
              </div>
              
              <h4>ABC Company Pvt. Ltd.</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              <a href="company-detail.html">read more</a>
  
            </div>
          </div>
  
          <div class="col-4">
            <div class="feature-block features">
              <div class="col-12 vendor">
                <img src="img/svg/asteroid.svg" alt="img" class="img-fluid">
              </div>
              
              <h4>ABC Company Pvt. Ltd.</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              <a href="company-detail.html">read more</a>
  
            </div>
          </div>

          <div class="col-4">
            <div class="feature-block features">
              <div class="col-12 vendor">
                <img src="img/svg/cloud.svg" alt="img" class="img-fluid">
              </div>
             
              <h4>ABC Company Pvt. Ltd.</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              <a href="company-detail.html">read more</a>
  
            </div>
          </div>
  
          <div class="col-4">
            <div class="feature-block features">
              <div class="col-12 vendor">
                <img src="img/svg/planet.svg" alt="img" class="img-fluid">
              </div>
              
              <h4>ABC Company Pvt. Ltd.</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              <a href="company-detail.html">read more</a>
  
            </div>
          </div>
  
          <div class="col-4">
            <div class="feature-block features">
              <div class="col-12 vendor">
                <img src="img/svg/user.svg" alt="img" class="img-fluid">
              </div>
              <!-- <img src="img/svg/asteroid.svg" alt="img" class="img-fluid"> -->
              <h4>ABC Company Pvt. Ltd.</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              <a href="company-detail.html">read more</a>
  
            </div>
          </div>
  
      </div>
    </div>

  </section>