<section id="get-started" class="padd-section wow fadeInUp">
    <div class="container">
        <div class="row background">
            <div class="col-12 features">
                <div class="company-profile ">
                    <div class="bannerBg"><img [src]="personData._banner" style="width: 100%;"></div>
                    <div class="cricle"><img [src]="personData._profilePic" alt="img" class="img-fluid"></div>
                    <h4>{{personData._name}}</h4>
                    <p>{{personData._about}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionLine"></div>
    <div class="container">
        <div class="row background">
            <div class="col-12 features">
                <div class="wow fadeInRight" data-wow-duration="0.5s">
                    <h4>Abouts</h4>
                    <div class="row">
                        <div class="col-12">
                            <div class="profile">
                                <p>{{personData._about}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionLine "></div>
    <div class="container">
        <div class="row background">
            <div class="col-12 features">
                <div class="wow fadeInRight" data-wow-duration=" 0.5s ">
                    <h4>Experience</h4>
                    <div class="row " *ngFor="let jobs of personData._job_list ">
                        <div class="col-1 "><img [src]="jobs.company_logo" alt="img " class="img-fluid "></div>
                        <div class="col-11 border-bottom">
                            <p class="bold ">{{jobs.profile_heading}}</p>
                            <p>Dates Employed : {{jobs.start_date}} – {{jobs.end_date}}</p>
                            <p>Employment Duration : 4 yrs 5 mos</p>
                            <p>Location : {{jobs.location}}</p>
                            <p>Skills : {{jobs.skill}}</p>
                            <p>Description : {{jobs.location}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionLine "></div>
    <div class="container ">
        <div class="row background">
            <div class="col-12 features">
                <div class="wow fadeInRight" data-wow-duration=" 0.5s">
                    <h4>Education</h4>
                    <div class="row " *ngFor="let education of personData._education ">
                        <div class="col-1 "><img [src]="education._university_logo" alt="img " class="img-fluid "></div>
                        <div class="col-11 border-bottom">
                            <p class="bold ">{{education._university_name}}</p>
                            <p>{{education._university_name}}</p>
                            <p>{{education._course_name}}</p>
                            <p>{{education._start_education}} - {{education._end_education}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sectionLine "></div>
    <div class="container ">
        <div class="row background ">
            <div class="col-12 features ">
                <div class="wow fadeInRight" data-wow-duration=" 0.5s">
                    <h4>Accomplishments</h4>
                    <div class="row ">
                        <div class="col-1 "><img src="/assets/img/document.png " alt="img " class="img-fluid "></div>
                        <div class="col-11 border-bottom">
                            <p class="bold ">Language</p>
                            <p><span class="bold ">{{personData._accomplishment.length}}</span> - <span class="bold " *ngFor="let lang of personData._accomplishment ">&nbsp;{{lang}}</span></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionLine "></div>
    <div class="container ">
        <div class="row background ">
            <div class="col-12 features ">
                <div class="wow fadeInRight ">
                    <h4>Interests</h4>
                    <div class="row ">
                        <div class="col-sm-12 col-lg-3 " *ngFor="let interest of personData._interest ">
                            <ul class="interest ">
                                <li><img [src]="interest._logo " alt="img " class="img-fluid "></li>
                                <li>
                                    <p class="bold ">{{interest._name}}</p>
                                    <p class="bold ">{{interest._followers_count}}</p>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>