<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>
<section id="get-started" class="padd-section wow fadeInUp" *ngIf="personData">
    <div class="container marginSearch">
        <div class="row background">
            <div class="col-12 features">
                <div class="company-profile ">
                    <div class="bannerBg"><img [src]="personData._banner" style="width: 100%;max-height: 235px;"></div>
                    <div class="square">
                        <img [src]="personData._profilePic ? personData._profilePic : '/assets/img/default-logo.png' " alt="img" class="img-fluid">
                        <div class="detail_box">
                            <h4>{{personData._name}}</h4>
                            <p>
                                <span>{{personData._current_designation}} </span> :
                                <span>{{personData._location}} </span> :

                            </p>
                            <p> <span>Connection : +{{personData._followers_name.length}}</span></p>
                        </div>
                    </div>
                    <div class="company-detail">
                        <p>{{personData._specialities}}</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="col-12">
                                <span class="count"><img src="/assets/img/{{personData._followers_name.length >1 ? 'multi':'one'}}.png" alt="count" class=""> Followers : {{personData._followers_name.length}}+ </span>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <div class="social-link">
                                <p>
                                    <span class="social" *ngFor="let profile of personData._social_profiles; let i = index">
                                            <a href="{{profile.link}}"><i class="fa fa-{{profile.social_name}}" aria-hidden="true"></i></a>
                                        </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sectionLine"></div>
    <div class="container">
        <div class="row background">
            <div class="col-12 features">
                <div class="wow fadeInRight" data-wow-duration="0.5s">
                    <h4 class="overview-detail">Abouts</h4>
                    <div class="row">
                        <div class="col-12">
                            <div class="profile">
                                <p>{{personData._about}}</p>
                            </div>
                            <div class="contact">
                                <p>Mobile - <span class="bold" *ngFor="let mobile of personData._mobile">&nbsp; {{mobile}}</span></p>
                                <p>Email - <span class="bold" *ngFor="let email of personData._email">&nbsp; {{email}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionLine "></div>
    <div class="container">
        <div class="row background">
            <div class="col-12 features">
                <div class="wow fadeInRight" data-wow-duration=" 0.5s ">
                    <h4 class="overview-detail">Experience</h4>
                    <div class="row" *ngFor="let jobs of personData._job_list ">
                        <div class="col-12">
                            <ul class="interest ">
                                <li><img [src]="jobs.company_logo" alt="img " class="img-fluid imgBox"></li>
                                <li class="border-bottom">
                                    <p class="bold ">{{jobs.profile_heading}}</p>
                                    <p>Dates Employed : {{jobs.start_date}} – {{jobs.end_date}}</p>
                                    <p>Employment Duration : 4 yrs 5 mos</p>
                                    <p>Location : {{jobs.location}}</p>
                                    <p>Skills : {{jobs.skill}}</p>
                                    <p>Description : {{jobs.location}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionLine "></div>
    <div class="container ">
        <div class="row background">
            <div class="col-12 features">
                <div class="wow fadeInRight" data-wow-duration=" 0.5s">
                    <h4 class="overview-detail">Education</h4>
                    <div class="row " *ngFor="let education of personData._education ">
                        <div class="col-12">
                            <ul class="interest ">
                                <li><img [src]="education._university_logo" alt="img " class="img-fluid imgBox"></li>
                                <li class="border-bottom">
                                    <p class="bold ">{{education._university_name}}</p>
                                    <p>{{education._university_name}}</p>
                                    <p>{{education._course_name}}</p>
                                    <p>{{education._start_education}} - {{education._end_education}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sectionLine "></div>
    <div class="container ">
        <div class="row background ">
            <div class="col-12 features ">
                <div class="wow fadeInRight" data-wow-duration=" 0.5s">
                    <h4 class="overview-detail">Accomplishments</h4>
                    <div class="row ">
                        <div class="col-12">
                            <ul class="interest ">
                                <li><img src="/assets/img/document.png " alt="img " class="img-fluid imgBox"></li>
                                <li class="border-bottom">
                                    <p class="bold ">Language</p>
                                    <p>
                                        <span *ngFor="let accomp of personData._accomplishment">
                                    <span *ngFor="let language of accomp.language"> {{language}}</span>
                                        </span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionLine "></div>
    <div class="container ">
        <div class="row background ">
            <div class="col-12 features ">
                <div class="wow fadeInRight ">
                    <h4 class="overview-detail">Interests</h4>
                    <div class="row ">
                        <div class="col-sm-12 col-lg-3 " *ngFor="let interest of personData._interest ">
                            <ul class="interest ">
                                <li><img [src]="interest._logo" alt="img " class="img-fluid imgBox"></li>
                                <li>
                                    <p class="bold ">{{interest._name}}</p>
                                    <p>{{interest._followers_count}}</p>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionLine"></div>
    <div class="container features">
        <div class="row background">
            <div class="col-12 shadow-none">
                <h4 class="overview-detail">Companies</h4>
            </div>
            <div class="col-sm-12 col-lg-3 text-left" *ngFor="let company of companyList | paginate: { id: 'listing_pagination',
            itemsPerPage: 4,
            currentPage: page,
            totalItems: totalRec }">
                <a [routerLink]="['/companydetail',company._id]" [state]="company">
                    <div class="feature-block">
                        <div class="col-12 vendor">
                            <img [src]="company._logo" alt="img" class="img-fluid">
                        </div>
                        <div class="col-12">
                            <h4>{{company._name}}</h4>
                            <p>{{company._industry}}</p>
                        </div>
                        <div class="col-12">
                            <span class="count"><img src="/assets/img/{{company._size >1 ? 'multi':'one'}}.png" alt="count" class=""> Employees {{company._size}}+ </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 text-left pagging">
                <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
</section>