.social-link{
    padding: 0 0px;
}
.social-link p span{
    margin: 5px;
}
.social-link p span i{
    font-size: 20px;
    color:#fff;
}
.social-link p span.social-title{
    font-weight: 600;
    margin: 0;
}
#get-started .feature-block{
    text-align: center;
}
.social-link p span.social{
    border: #333 solid 1px;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 4px;
    text-align: center;
    background: #333;
}