<section id="get-started" class="padd-section wow fadeInUp" *ngIf="personData">
    <div class="container">
        <div class="row background">
            <div class="col-12 features">
                <div class="company-profile ">
                    <div class="bannerBg"><img [src]="personData._banner" style="width: 100%;"></div>
                    <div class="cricle"><img [src]="personData._profilePic" alt="img" class="img-fluid"></div>
                    <h4>{{personData._name}}</h4>
                    <p>{{personData._about}}</p>
                    <div class="social-link">
                        <p>
                            <span class="social-title">Social -</span>
                            <span><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></span>
                            <span><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
                            <span><a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></span>
                            <span><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionLine"></div>
    <div class="container">
        <div class="row background">
            <div class="col-12 features">
                <div class="wow fadeInRight" data-wow-duration="0.5s">
                    <h4>Abouts</h4>
                    <div class="row">
                        <div class="col-12">
                            <div class="profile">
                                <p>{{personData._about}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionLine "></div>
    <div class="container">
        <div class="row background">
            <div class="col-12 features">
                <div class="wow fadeInRight" data-wow-duration=" 0.5s ">
                    <h4>Experience</h4>
                    <div class="row " *ngFor="let jobs of personData._job_list ">
                        <div class="col-1 "><img [src]="jobs.company_logo" alt="img " class="img-fluid imgBox"></div>
                        <div class="col-11 border-bottom">
                            <p class="bold ">{{jobs.profile_heading}}</p>
                            <p>Dates Employed : {{jobs.start_date}} – {{jobs.end_date}}</p>
                            <p>Employment Duration : 4 yrs 5 mos</p>
                            <p>Location : {{jobs.location}}</p>
                            <p>Skills : {{jobs.skill}}</p>
                            <p>Description : {{jobs.location}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionLine "></div>
    <div class="container ">
        <div class="row background">
            <div class="col-12 features">
                <div class="wow fadeInRight" data-wow-duration=" 0.5s">
                    <h4>Education</h4>
                    <div class="row " *ngFor="let education of personData._education ">
                        <div class="col-1 "><img [src]="education._university_logo" alt="img " class="img-fluid imgBox"></div>
                        <div class="col-11 border-bottom">
                            <p class="bold ">{{education._university_name}}</p>
                            <p>{{education._university_name}}</p>
                            <p>{{education._course_name}}</p>
                            <p>{{education._start_education}} - {{education._end_education}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sectionLine "></div>
    <div class="container ">
        <div class="row background ">
            <div class="col-12 features ">
                <div class="wow fadeInRight" data-wow-duration=" 0.5s">
                    <h4>Accomplishments</h4>
                    <!-- <div class="row" *ngFor="let accomp of personData._accomplishment | keyvalue">
                        main {{accomp.value | json}} change - {{accomp.keyvalue}}
                        <div class="col-1 "><img src="/assets/img/document.png " alt="img " class="img-fluid imgBox"></div>
                        <div class="col-11" *ngFor="let accompObj of accomp.value  | keyvalue">
                            {{accompObj.value | json}}
                        </div>

                    </div> -->
                    <div class="row ">
                        <div class="col-1 "><img src="/assets/img/document.png " alt="img " class="img-fluid imgBox"></div>
                        <div class="col-11 border-bottom">
                            <p class="bold ">Language</p>
                            <p>
                                <span *ngFor="let accomp of personData._accomplishment">
                                    <span *ngFor="let language of accomp.language"> {{language}}</span>
                                </span>
                            </p>
                            <!-- <div class="sectionLine "></div>
                            <p class="bold ">Published</p>
                            <p>{{personData._accomplishment.published['job']}}</p> -->
                            <!-- <p> <span *ngFor="let accompdata of personData._accomplishment">
                                    <span *ngFor="let publish of accompdata.published"> </span>
                                </span>
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionLine "></div>
    <div class="container ">
        <div class="row background ">
            <div class="col-12 features ">
                <div class="wow fadeInRight ">
                    <h4>Interests</h4>
                    <div class="row ">
                        <div class="col-sm-12 col-lg-3 " *ngFor="let interest of personData._interest ">
                            <ul class="interest ">
                                <li><img [src]="interest._logo" alt="img " class="img-fluid imgBox"></li>
                                <li>
                                    <p class="bold ">{{interest._name}}</p>
                                    <p>{{interest._followers_count}}</p>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionLine"></div>
    <div class="container features">
        <div class="row background">
            <div class="col-12 shadow-none">
                <h4>Companies</h4>
            </div>
            <div class="col-lg-4 col-sm-12" *ngFor="let company of companyList | paginate: { id: 'listing_pagination',
            itemsPerPage: 3,
            currentPage: page,
            totalItems: totalRec }">
                <div class="feature-block features">
                    <div class="col-12 vendor">
                        <img [src]="company._logo" alt="img" class="img-fluid">
                    </div>

                    <h4>{{company._name}}</h4>
                    <p>{{company._about}}</p>
                    <a [routerLink]="['/companydetail', company._id]" [state]="company">read more</a>

                </div>
            </div>
            <div class="col-12 text-right">
                <pagination-controls id="listing_pagination" maxSize="3" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
</section>