<div class="search-box" id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <form name="home" class="form-inline search">
                    <label class="labelClass">Search with company name</label>
                    <input type="email" class="form-control" placeholder="" name="search">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </form>

            </div>
        </div>
    </div>
</div>