<div class="search-box" id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h5>Search company</h5>
            </div>
            <div class="col-md-12 col-lg-12">
                <form name="home" class="form-inline search">
                    <input type="email" class="form-control" placeholder="Search here your company result" name="search">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>

            </div>
        </div>
    </div>
</div>