<!-- <div class="card mt-4">
    <h4 class="card-header">Home</h4>
    <div class="card-body">
        <p>You're logged in with Angular 8 & JWT!!</p>
        <p>Your role is: <strong>{{currentUser.role}}</strong>.</p>
        <p>This page can be accessed by <u>all authenticated users</u>.</p>
        <p class="mb-1">Current user from secure api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="userFromApi">
            <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
        </ul>
    </div>
</div> -->

<!--==========================
    Get Started Section
  ============================-->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>
<section id="get-started" class="padd-section text-center wow fadeInUp">
    <div class="container section-title">
        <section id="newsletter" class="newsletter text-center wow fadeInUp">
            <!-- <div class="padd-section"> -->
            <div class="container margin-top">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-8">
                        <form name="home" class="form-inline">
                            <label class="labelClass">Search with company name</label>
                            <input type="email" class="form-control" (click)="companyList()" placeholder="" name="email">
                            <button type="submit" class="btn btn-default" (click)="searchCompanyData()"><i class="fa fa-search"></i></button>
                            <!-- <i class="fa fa-search"></i> -->

                        </form>

                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </section>
    </div>
</section>