<section id="get-started" class="padd-section wow fadeInUp">
    <div class="container">
        <div class="row background">
            <div class="col-12 features">
                <div class="company-profile ">
                    <div class="bannerBg"><img [src]="companyData._banner" style="width: 100%;"></div>
                    <div class="cricle"><img [src]="companyData._logo" alt="img" class="img-fluid"></div>
                    <h4>{{companyData._name}}</h4>
                    <p>{{companyData._about}}</p>
                    <p><span>Connection : +{{companyData._size}}</span></p>
                    <div class="social-link">
                        <p>
                            <span class="social-title">Social -</span>
                            <span><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></span>
                            <span><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
                            <span><a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></span>
                            <span><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sectionLine"></div>
    <div class="container">
        <div class="row">
            <nav>
                <div class="nav nav-pills" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="pill" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Company</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="pill" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Article</a>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane show fade active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="container">
                        <div class="row background">
                            <div class="col-12 features">
                                <h4>Overview</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="wow fadeInRight profile" data-wow-duration="0.5s">
                                            <p>{{companyData._about}}</p>
                                            <p><span class="bold">Website</span> : {{companyData._website_url}}</p>
                                            <p><span class="bold">Industry</span> : {{companyData._industry}}</p>
                                            <p><span class="bold">Company size</span> : {{companyData._size}} </p>
                                            <p><span class="bold">Type</span> : {{companyData._website_url}}</p>
                                            <p><span class="bold">Founded</span> : {{companyData._founded}}</p>
                                            <!-- <p><span class="bold">Specialties</span> : {{companyData._specialities}}</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sectionLine"></div>
                    <div class="container">
                        <div class="row background">
                            <div class="col-12 features">
                                <h4>Locations</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="wow fadeInRight" data-wow-duration="0.5s">
                                            <p>{{companyData._location.office_name}}</p>
                                            <p>{{companyData._location.address}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sectionLine"></div>
                    <div class="container features">
                        <div class="row background">
                            <div class="col-12 shadow-none">
                                <h4>Employees</h4>
                            </div>
                            <div class="col-lg-4 col-sm-12" *ngFor="let person of personList | paginate: { id: 'listing_pagination',
                            itemsPerPage: 3,
                            currentPage: page,
                            totalItems: totalRec }">
                                <div class="border text-center">
                                    <div class="col-12 vendor">
                                        <img [src]="person._profilePic" alt="img" class="img-fluid">
                                    </div>
                                    <div class="col-12">
                                        <h4>{{person._name}}</h4>
                                        <p>{{person._about}}</p>
                                    </div>
                                    <div class="col-12 topBoorder">
                                        <a [routerLink]="['/personDetail']" [state]="person">Connect</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-right">
                                <pagination-controls id="listing_pagination" maxSize="3" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade features" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="container">
                        <div class="row background">
                            <div class="col-12 " *ngFor="let article of companyArticle | paginate: { id: 'listing_pagination',
                            itemsPerPage: 3,
                            currentPage: page,
                            totalItems: totalRec }">
                                <div class="articles border-bottom">
                                    <!-- <span class="articleNumber"></span> -->
                                    <div class="row">
                                        <div class="col-12">
                                            <h4>{{article._event_name}}
                                                <div class="publish_date">{{article._published_date}}</div>
                                            </h4>
                                            <p>{{article._description}}</p>
                                            <img [src]="article._image" style="width: 100%;">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 text-right">
                                <pagination-controls id="listing_pagination" maxSize="3" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>