<section id="get-started" class="padd-section wow fadeInUp">
    <div class="container">
        <div class="row background">
            <div class="col-12 features">
                <div class="company-profile ">
                    <div class="bannerBg"><img [src]="companyData._banner" style="width: 100%;"></div>
                    <div class="cricle"><img [src]="companyData._logo" alt="img" class="img-fluid"></div>
                    <h4>{{companyData._name}}</h4>
                    <p>{{companyData._about}}</p>
                    <p><span>Connection : +{{companyData._size}}</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionLine"></div>
    <div class="container">
        <div class="row background">
            <div class="col-12 features">
                <h4>Abouts</h4>
                <div class="row">
                    <div class="col-12">
                        <div class="wow fadeInRight profile" data-wow-duration="0.5s">
                            <p>{{companyData._about}}</p>
                            <p><span class="bold">Website</span> : {{companyData._website_url}}</p>
                            <p><span class="bold">Industry</span> : {{companyData._industry}}</p>
                            <p><span class="bold">Company size</span> : {{companyData._size}} </p>
                            <p><span class="bold">Type</span> : {{companyData._website_url}}</p>
                            <p><span class="bold">Founded</span> : {{companyData._founded}}</p>
                            <p><span class="bold">Specialties</span> : {{companyData._specialities}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionLine"></div>
    <div class="container">
        <div class="row">
            <nav>
                <div class="nav nav-pills" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="pill" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Company</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="pill" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Article</a>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane show fade active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="container">
                        <div class="row background">
                            <div class="col-12 features">
                                <h4>Locations</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="wow fadeInRight" data-wow-duration="0.5s">
                                            <p>{{companyData._location.office_name}}</p>
                                            <p>{{companyData._location.address}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sectionLine"></div>
                    <div class="container">
                        <div class="row background">
                            <div class="col-12 shadow-none">
                                <h4>Employees</h4>
                            </div>
                            <div class="col-4" *ngFor="let person of personList">
                                <div class="border text-center">
                                    <div class="col-12 vendor">
                                        <img src="/assets/img/profile.png" alt="img" class="img-fluid">
                                    </div>
                                    <div class="col-12">
                                        <h4>{{person._name}}</h4>
                                        <p>{{person._about}}</p>
                                    </div>
                                    <div class="col-12 topBoorder">
                                        <a [routerLink]="['/personDetail']" [state]="person">Connect</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="container">
                        <div class="row background">
                            <div class="col-12 features">
                                <div class="feature-block articles border-bottom">
                                    <h4><span class="articleNumber">1</span>Bukisa</h4>
                                    <div class="row">
                                        <div class="col-12">
                                            <p>One of the most commonly used websites for article submissions, so don’t waste your money looking for a job. Instead, build your reputation as a writer and companies will come to hire you. With an effective
                                                revenue sharing strategy, you can earn money over the articles that receive high publicity.</p>
                                            <img src="./assets/img/information.jpg" style="width: 100%;">
                                        </div>
                                    </div>
                                </div>
                                <div class="feature-block articles">
                                    <h4><span class="articleNumber">2</span>Tour</h4>
                                    <div class="row">
                                        <div class="col-12">
                                            <p>One of the most commonly used websites for article submissions, so don’t waste your money looking for a job. Instead, build your reputation as a writer and companies will come to hire you. With an effective
                                                revenue sharing strategy, you can earn money over the articles that receive high publicity.</p>
                                            <img src="./assets/img/information.jpg" style="width: 100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- <div class="row ">
                <div class="col-sm-12 col-lg-4 border text-center" *ngFor="let person of personList">
                <div class="row">
                    <div class="col-12 vendor">
                        <img src="/assets/img/svg/user.svg" alt="img" class="img-fluid">
                    </div>
                    <div class="col-12">
                        <h4>{{person._name}}</h4>
                        <p>{{person._about}}</p>
                    </div>
                    <div class="col-12 topBoorder">
                        <a [routerLink]="['/personDetail']" [state]="person">Connect</a>
                    </div>
                </div>
          </div>
        </div> -->
    <!-- <div class="container section-title-3">
        <div class="col-sm-12">
          <div class="row">
          <nav>
            <div class="nav nav-pills" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="pill" target="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Company</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="pill" target="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Article</a>
            </div>
          </nav>
        </div>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane show fade active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row">
                  <div class="col-12 features">
                    <div class="feature-block">
                      <div class="wow fadeInRight">
                        <h4>Experience</h4>
                        <div class="row">
                          <div class="col-1"><img src="/assets/img/svg/document.svg" alt="img" class="img-fluid"></div>
                          <div class="col-11">
                            <div class="wow fadeInRight" data-wow-duration="0.5s">
                              <p class="bold">CEO</p>
                              <p>PRIORIITY.COM</p>
                              <p>Dates EmployedSep 2015 – Present</p>
                              <p>Employment Duration4 yrs 5 mos</p>
                              <p>LocationPaterson NJ</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-1"><img src="/assets/img/svg/document.svg" alt="img" class="img-fluid"></div>
                          <div class="col-11">
                            <div class="wow fadeInRight" data-wow-duration="0.5s">
                              <p class="bold">President/Senior Pastor</p>
                              <p>
                                Company NameCity with Foundations Ministry</p>
                              <p>
                                Dates EmployedMar 2004 – Present</p>
                              <p>Employment Duration15 yrs 11 mos
                                LocationLagos, Nigeria</p>
                              <p>City With Foundations Ministry(CAC/IT/NO. 34741) is a composite Christian charity, whose mission is to create a wealthier world for all by providing hope, information and leadership to our target groups using God's word and His demonstrated love as our primary change tools. "Bringing succor to the weary through God's word" - Isaiah 50:4.</p>
                            </div>

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-1"><img src="/assets/img/svg/document.svg" alt="img" class="img-fluid"></div>
                          <div class="col-11">
                            <div class="wow fadeInRight" data-wow-duration="0.5s">
                              <p class="bold">
                                Head, Strategy & Marketing
                              </p><p>Company NameIG Network-Knowledge</p>
                              <p>Dates EmployedJun 2011 – May 2017</p>
                              <p>Employment Duration6 yrs
                                Strategic marketing management, Sales force coordination and general consultation on external client marketing needs; scenario analysis, model formulation, process & systems programming, testing & re-alignment etc.</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-1"><img src="/assets/img/svg/document.svg" alt="img" class="img-fluid"></div>
                          <div class="col-11">
                            <div class="wow fadeInRight" data-wow-duration="0.5s">
                              <p class="bold">HEAD,STRATEGY & LOGISTICS</p>
                              <p>Company NameINTEGRITY GLOBAL NETWORK</p>
                              <p>Dates EmployedAug 2005 – Jan 2006</p>
                              <p>Employment Duration6 mos Strategic consulting including business planning and marketing management plan development.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sectionLine"></div>
                    <div class="feature-block">
                      <div class="wow fadeInRight">
                        <h4>Education</h4>
                        <div class="row">
                          <div class="col-1"><img src="/assets/img/svg/folder.svg" alt="img" class="img-fluid"></div>
                          <div class="col-11">
                            <div class="wow fadeInRight" data-wow-duration="0.5s">
                              <p class="bold">University of Ilorin</p>
                              <p>Degree NameBscField Of StudyMathematics</p>
                              <p>Dates attended or expected graduation1992 – 1997</p>
                              <p>Great mock dissertation in Dynamic programming.</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-1"><img src="/assets/img/svg/folder.svg" alt="img" class="img-fluid"></div>
                          <div class="col-11">
                            <div class="wow fadeInRight" data-wow-duration="0.5s">
                              <p class="bold">NATIONAL INSTITUTE OF MARKETING OF NIGERIA</p>
                              <p>Degree NameAssociate memberField Of StudyMarketing</p>
                              <p>Dates attended or expected graduation2000 – 2001</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="sectionLine"></div>
                    <div class="feature-block">
                      <div class="wow fadeInRight">
                        <h4>Skills & Endorsements</h4>
                        <div class="row">
                          <div class="col-1"><img src="/assets/img/svg/idea.svg" alt="img" class="img-fluid"></div>
                          <div class="col-11">
                            <div class="wow fadeInRight" data-wow-duration="0.5s">
                              <p class="bold">Leadership : <span>30</span> </p>
                                <p>
                                Sifon Godwin Ekeruke and 29 connections have given endorsements for this skill</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-1"><img src="/assets/img/svg/idea.svg" alt="img" class="img-fluid"></div>
                          <div class="col-11">
                            <div class="wow fadeInRight" data-wow-duration="0.5s">
                              <p class="bold">Business Strategy
                                : <span>17</span> </p>
                                <p>
                                  Sifon Godwin Ekeruke and 17 connections have given endorsements for this skill</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-1"><img src="/assets/img/svg/idea.svg" alt="img" class="img-fluid"></div>
                          <div class="col-11">
                            <div class="wow fadeInRight" data-wow-duration="0.5s">
                              <p class="bold">Strategy
                                : <span>20</span> </p>
                                <p>
                                Sifon Godwin Ekeruke and 29 connections have given endorsements for this skill</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 features">
                      <div class="feature-block">
                        <div class="wow fadeInRight">
                          <h4>Accomplishments</h4>
                          <div class="row">
                            <div class="col-1"><img src="/assets/img/svg/document.svg" alt="img" class="img-fluid"></div>
                            <div class="col-11">
                              <div class="wow fadeInRight" data-wow-duration="0.5s">
                                <p class="bold">Publications</p>
                                <p>I LIVE BY FAITH; Using your faith as a strategic all-purpose asset. SUPERHUMANS FOREVER.(the enhanced humanity evolution concept) WEALTH FOUNDATIONS (series 1-4)</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-12 features">
                      <div class="feature-block">
                        <div class="wow fadeInRight">
                          <h4>Employees/Vendors</h4>
                          <div class="container">
                            <div class="row">
                              <div class="col-sm-12 col-lg-4 feature-block">
                                <div class="row">
                                  <div class="col-3 vendor">
                                    <img src="/assets/img/svg/user.svg" alt="img" class="img-fluid">
                                  </div>
                                  <div class="col-9">
                                    <h4>creative design</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                  </div>
                                </div>
                              </div>
                      
                              <div class="col-sm-12 col-lg-4 feature-block">
                                <div class="row">
                                  <div class="col-3 vendor">
                                    <img src="/assets/img/svg/user.svg" alt="img" class="img-fluid">
                                  </div>
                                  <div class="col-9">
                                    <h4>Annie</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-12 col-lg-4 feature-block">
                                <div class="row">
                                  <div class="col-3 vendor">
                                    <img src="/assets/img/svg/user.svg" alt="img" class="img-fluid">
                                  </div>
                                  <div class="col-9">
                                    <h4>Julia</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-12 col-lg-4 feature-block">
                                <div class="row">
                                  <div class="col-3 vendor">
                                    <img src="/assets/img/svg/user.svg" alt="img" class="img-fluid">
                                  </div>
                                  <div class="col-9">
                                    <h4>Ericson</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-12 col-lg-4 feature-block">
                                <div class="row">
                                  <div class="col-3 vendor">
                                    <img src="/assets/img/svg/user.svg" alt="img" class="img-fluid">
                                  </div>
                                  <div class="col-9">
                                    <h4>Zimmy</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-12 col-lg-4 feature-block">
                                <div class="row">
                                  <div class="col-3 vendor">
                                    <img src="/assets/img/svg/user.svg" alt="img" class="img-fluid">
                                  </div>
                                  <div class="col-9">
                                    <h4>Jhon</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-12 col-lg-4 feature-block">
                                <div class="row">
                                  <div class="col-3 vendor">
                                    <img src="/assets/img/svg/user.svg" alt="img" class="img-fluid">
                                  </div>
                                  <div class="col-9">
                                    <h4>Tony</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-12 col-lg-4 feature-block">
                                <div class="row">
                                  <div class="col-3 vendor">
                                    <img src="/assets/img/svg/user.svg" alt="img" class="img-fluid">
                                  </div>
                                  <div class="col-9">
                                    <h4>Cim</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                  </div>
                                </div>
                              </div>
                      
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
              <div class="row">
                <div class="col-12 features">
                  <div class="feature-block articles">
                      <h4><span class="articleNumber">1</span>Bukisa</h4>
                      <div class="row">
                        <div class="col-12">
                            <p>One of the most commonly used websites for article submissions, so don’t waste your money looking for a job. Instead, build your reputation as a writer and companies will come to hire you. With an effective revenue sharing strategy, you can earn money over the articles that receive high publicity.</p>
                            <img src="/assets/img/video-bg.jpg" style="width: 100%;">
                        </div>
                    </div>
                  </div>
                  <div class="feature-block articles">
                    <div class="sectionLine"></div>
                    <h4><span class="articleNumber">2</span>Bukisa</h4>
                    <div class="row">
                      <div class="col-12">
                          <p>One of the most commonly used websites for article submissions, so don’t waste your money looking for a job. Instead, build your reputation as a writer and companies will come to hire you. With an effective revenue sharing strategy, you can earn money over the articles that receive high publicity.</p>
                          <img src="/assets/img/video-bg.jpg" style="width: 100%;">
                      </div>
                    </div>
                    <div class="sectionLine"></div>
                  </div>
                  <div class="feature-block articles">
                  <h4><span class="articleNumber">3</span>Bukisa</h4>
                  <div class="row">
                    <div class="col-12">
                        <p>One of the most commonly used websites for article submissions, so don’t waste your money looking for a job. Instead, build your reputation as a writer and companies will come to hire you. With an effective revenue sharing strategy, you can earn money over the articles that receive high publicity.</p>
                        <img src="/assets/img/video-bg.jpg" style="width: 100%;">
                    </div>
                </div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  -->
</section>